* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Tasa Grotesk", sans-serif;
  font-size: 8vw;
  font-weight: 500;
  line-height: 0.8;
  letter-spacing: -2px;
  /* text-align: center; */
  color: black;
}

p {
  font-size: 0.8rem;
}

#left p {
  width: 75%;
  font-size: 0.9rem;
  color: #444;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 60px;
}

#left {
  width: 40%;
  height: 100%;
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 0 20px; */
}

#colors {
  /* background-color: blueviolet; */
  border: 2px solid black;
  width: fit-content;
  padding: 6px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
#colors h5 {
  margin-right: 10px;
}

#color1 {
  width: 20px;
  height: 20px;
  background-color: bisque;
  border-radius: 50%;
  margin-right: 2px;
}

#color2 {
  width: 20px;
  height: 20px;
  background-color: burlywood;
  border-radius: 50%;
}

#right {
  width: 40%;
  height: 100%;
  background-color: blanchedalmond;
  display: flex;
}

#right-header {
  width: 100%;
  height: 10%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-header h2 {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-family: "Tasa Grotesk", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -2px;
  /* text-align: center; */
  color: black;
  rotate: 90deg;
}
