* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tasa Grotesk", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Tasa Grotesk", sans-serif;
  font-size: 10vw;
  font-weight: 500;
  line-height: 0.8;
  letter-spacing: -4px;
  /* text-align: center; */
  color: black;
}

p {
  font-size: 1rem;
}

#left p {
  width: 75%;
  font-size: 1rem;
  color: #444;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 100px;
  gap: 50px;
}

#left, #right {
  height: 100%;
}

#left {
  width: 40%;
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#colors {
  /* background-color: blueviolet; */
  border: 2px solid black;
  width: fit-content;
  padding: 6px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
#colors h5 {
  margin-right: 10px;
}

#color1 {
  width: 20px;
  height: 20px;
  background-color: bisque;
  border-radius: 50%;
  margin-right: 2px;
}

#color2 {
  width: 20px;
  height: 20px;
  background-color: burlywood;
  border-radius: 50%;
}

#right {
  width: 30%;
  /* background-color: blanchedalmond; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#right-content {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#right-content h4 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -2px;
}

#right-content h5 {
  font-size: 0.8rem;
}

#right-content i {
  color: goldenrod;
}

#right img {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

#black-circle-price {
  position: absolute;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: rgb(0, 1, 16);
  color: white;
  top: 40%;
  right: -22%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  display: flex;
}

#black-circle-price h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

#rotated {
  position: absolute;
  left: -15%;
  bottom: 5%;
  rotate: -90deg;
  transform-origin: 0 0;
  font-size: 2.5rem;
  font-weight: 500;
}
